.bg-personalizado-nav {
background-color: #0097A7;
color: white;
font-size : 15px;
border-bottom : 1px solid black;
padding: 16px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link:hover{
  color: white;
  border-bottom: 2px solid white;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color:white;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link {
    color:white;
}

.navbar-light .navbar-toggler {
	background: #0097A7;
	border-color: #212121;
}
.quienes-somos{
  height: 500px;
  background-image: url("../img/mascotas.jpg");
  background-size: cover;
  background-position: 0% 70%;
}
.carousel-item .item-1 {
  height: 500px;


  background-image: url("../image/item1.jpg");

  background-size: cover;
  background-position: 0% 45%;

}
.carousel-item .item-2 {
  height: 500px;

  background-image: url("../image/item2.jpg");
  background-size: cover;
  background-position: 0% 14%;
}
.carousel-item .item-3 {
  height: 500px;

  background-image: url("../image/item3.jpg");
  background-size: cover;
  background-position: 0% 35%;
}

.carousel-item .img-mision {
  height: 500px;


  background-image: url("../img/carousel2.jpg");

  background-size: cover;
  background-position: 0% 45%;

}


.carousel-item .img-vision {
  height: 500px;


  background-image: url("../img/carousel1.jpg");

  background-size: cover;
  background-position: 0% 45%;

}

.fondo-transparente{
  background-color: rgba(0, 0, 0, 0.5);
}

.rescate-estilos h1{
  color: #212121;
}

.rescate-estilos h3{
  color: #757575;
}

.rescate-estilos p{
  color: #847c7c;
}

.page-footer{
  padding: 70px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:#607D8B;
}

.page-footer a{
  color: white;
}

.bg-servicios {
  color : white !important;
  background-color :  #0097A7;
  width : 100%
}

.jumbo {
  background-image : url("../img/mascotas.jpg");
  background-size: cover;
}

.jumbo-txt {
  color : #665956 !important;
  text-shadow : -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.round {
  border-radius : 200px !important;
}

.infoCarrusel {
  height: 100%;
  display: grid;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}
.infoCarrusel h1 {
  color: #fff;
  font-size: 60px;
}
.infoCarrusel h2 {
  color: #fff;
  position: relative;
  top: -74px;
  text-align: center;
}
.infoCarrusel span {
  color: #fff;
  position: relative;
  top: -15px;
  text-align: center;
}

.fullwidth{
  width: 100%;
}

.aboutus-con p{
  text-align: justify;
  color: #847c7c;
}

.about-img{
  padding-top: 70px;
}

.card img{
  height: 350px;
}

.misionvisionh1 h1 {
  position: relative;
  top: 100px;
}
