<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <div class="item-1">
        <div class="fondo-transparente">
          <div class="center-block text-center infoCarrusel">
            <h1>Contactenos</h1>
            <h2>Veterinaria Mis Perris</h2>
            <span>Para consultas o valores veterinarios o reservas de hora.</span>
            <a class="btn btn-success btn-lg" href="#" role="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <div class="item-2">
        <div class="fondo-transparente">
          <div class="center-block text-center infoCarrusel">
            <h1>Contactenos</h1>
            <h2>Veterinaria Mis Perris</h2>
            <span>Para consultas o valores veterinarios o reservas de hora.</span>
            <a class="btn btn-success btn-lg" href="#" role="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="item-3">
        <div class="fondo-transparente">
          <div class="center-block text-center infoCarrusel">
            <h1>Contactenos</h1>
            <h2>Veterinaria Mis Perris</h2>
            <span>Para consultas o valores veterinarios o reservas de hora.</span>
            <a class="btn btn-success btn-lg" href="#" role="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 rescate-estilos">
      <h1>RESCATE</h1>
      <h3>Etapa 1</h3>
      <div class="dropdown-divider"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis dictum ipsum et rutrum. Quisque non odio tellus. In fermentum, magna sit amet ultricies ultrices, sapien diam viverra lacus, eu commodo odio mi vitae dui. Phasellus erat
        lacus, faucibus id elementum ac, ornare lobortis purus. Phasellus sed sem id ipsum dapibus ultrices ac a turpis. Integer suscipit, arcu non elementum molestie, magna lectus posuere massa, et hendrerit urna ipsum ac tortor.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="image/rescate1.jpg" alt="" width="500">
    </div>
  </div>
  <br>
  <div class="dropdown-divider"></div>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <img src="image/contactoindex.jpg" alt="" width="500">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 rescate-estilos">
      <h1>Contacto</h1>
      <h3>Lorem Ipsum</h3>
      <div class="dropdown-divider"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis dictum ipsum et rutrum. Quisque non odio tellus. In fermentum, magna sit amet ultricies ultrices, sapien diam viverra lacus, eu commodo odio mi vitae dui. Phasellus erat
        lacus, faucibus id elementum ac, ornare lobortis purus. Phasellus sed sem id ipsum dapibus ultrices ac a turpis. Integer suscipit, arcu non elementum molestie, magna lectus posuere massa, et hendrerit urna ipsum ac tortor. </p>
      <a class="btn btn-primary btn-lg" href="contacto.html" role="button">Contacto</a>
    </div>
  </div>
</div>
<br>
<br>
