<!-- QUIENES SOMOS -->
<div class="fullwidth ">
  <div class="quienes-somos">
    <div class="fondo-transparente">
      <div class="center-block text-center infoCarrusel">
        <h1>Quienes Somos</h1>
      </div>
    </div>
  </div>
</div>
<!-- CONTENIDO -->
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="about-img img-fluid" src="image/quienessomos.jpg" alt="">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 text-center aboutus-con">
      <h1>HISTORIA</h1>
      <div class="dropdown-divider">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="card-text">Telefono: 5555555555</p>
      <p class="card-text">Correo: misperris@misperris.cl</p>
      <p class="card-text">Direccion: Por Ahi #1234</p>
    </div>
  </div>
  <br>
  <div class="dropdown-divider">
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center aboutus-con">
      <h1>Nuestro Equipo</h1>
      <br>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="image/vet1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Carla Saez</h5>
          <p align="justify" class="card-text">Medico Veterinario general. Se especializa es animales exoticos.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="image/vet2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Esteban Dido</h5>
          <p class="card-text" align="justify">Medico veterinario experto en cirugia reconstructivas y rehabilitacion.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="image/vet3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Monica Sepulveda</h5>
          <p align="justify" class="card-text">Estilista profesional. Atiende perros, gatos y roedores.</p>
        </div>
      </div>
    </div>
  </div>
</div>