<div class="container-fluid bg-servicios">
  <div class="row">
    <div class="jumbotron jumbo w-100 vertical-center">
      <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
          <h1 align='center' class="display-4 jumbo-txt">Quienes Somos?</h1>
          <p class="lead jumbo-txt align-middle text-lg-center">Peluqieria MisPerris esta compuesta por un equipo de medicos veterinarios expertos en garantizar tanto la salud de la mascota como un calido clima de comunicacion con el dueño</p>
          <p class="jumbo-txt text-lg-center">Te invitamos a conocer a nuestro equipo a continuacion.</p>
        </div>
      </div>
      <!-- <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p> -->
    </div>
  </div>
  <div class="row bg-servicios w-100">
    <div class="col-lg-12 bg-servicios">
      <div id="accordion" class="accordion">
        <div class="jumbotron bg-servicios w-100">
          <div class="collapse show " data-parent="#accordion" id="collapse1">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <img src="img/equipo1.jpg" class="mh-300" width="100%" alt="">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Esteban Dido</h4>
                  </div>
                  <div class="col-lg-12">
                    <p> Medico veterinario experto en cirugia reconstructivas y rehabilitacion. </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="button-group">
                      <button type="button" class="btn btn-sm btn-light bottom" name="button " data-toggle="collapse" data-target="#collapse2">Siguiente</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" data-parent="#accordion" id="collapse2">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <img src="img/equipo2.png" height="310" class="img-flui" alt="">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Carla Saez</h4>
                  </div>
                  <div class="col-lg-12">
                    <p> Medico Veterinario general. Se especializa es animales exoticos. </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="button-group">
                      <button type="button" class="btn btn-sm btn-light" name="button" data-toggle="collapse" data-target="#collapse1">Anterior</button>
                      <button type="button" class="btn btn-sm btn-light" name="button" data-toggle="collapse" data-target="#collapse3">Siguiente</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" data-parent="#accordion" id="collapse3">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <img src="img/equipo3.webp" height="310" class="img-flui" alt="">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Monica Sepulveda</h4>
                  </div>
                  <div class="col-lg-12">
                    <p> Estilista profesional. Atiende perros, gatos y roedores. </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="button-group">
                      <button type="button" class="btn btn-sm btn-light" name="button" data-toggle="collapse" data-target="#collapse2">Anterior</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
