<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <img src="img/consultas.jpg" height="200px" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Consultas Veterinarias</h3>
          <p class="card-text fc-servicios">En Veterinaria Mis Perris contamos con un equipo médico de profesionales especializados y equipamiento moderno para dar la mejor atención a su mascota. Perros, gatos y animales exóticos son bienvenidos en
            nuestra consulta medica.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Imagenes</h3>
          <p class="card-text fc-servicios">En caso de ser necesario confirmar el diagnóstico certero de su mascota, el equipo médico de nuestra clinica veterniaria realizará los procedimientos tanto en imagenología como en exámenes de laboratorio
            necesarios para conocer la afeción de su mascota. </p>
        </div>
        <img src="img/imagenes.jpg" height="200px" class="card-img-bottom" alt="">
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <img src="img/cirugia.jpg" height="230px" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Cirugias</h3>
          <p class="card-text fc-servicios">Cirugía General<br> Cirugía Exploratoria<br> Cirugía Preventiva<br> Cirugía Terapéutica<br> Cirugía Paliativa</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Hospitalización</h3>
          <p class="card-text fc-servicios">Contamos con servicio de hospitalizacion las 24 Horas con medicos veterinarios asignados al cuidado de su mascota. Monitoreo constante, hospital para perros y gatos en ambientes separados, oxigenoterapia
            en caso de ser necesario, chequeo periódico del paciente, y todos los servicios necesarios para una pronta recuperación de su mascota.</p>
        </div>
        <img src="img/hospitalizacion.jpg" height="200px" class="card-img-bottom" alt="">
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <img src="img/peluqueria.jpg" height="250px" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Peluqueria</h3>
          <p class="card-text fc-servicios">Creemos que hacer una buena peluquería requiere años de práctica, por eso contamos con los mejores peluqueros quienes se preocupan de recibir todas sus inquietudes y explicar todos los detalles de la
            peluquería de su mascota.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 d-flex align-items-stretch">
      <div class="card bg-servicios">
        <div class="card-body">
          <h3 class="card-title fc-servicios">Productos</h3>
          <p class="card-text fc-servicios"> Alimentos profesionales y para animales convalecientes, juguetes, jaulas, transportes, collares, cepillos y todo lo necesario para regalonear a tu mascota.</p>
        </div>
        <img src="img/productos.jpg" height="300px" class="card-img-bottom" alt="">
      </div>
    </div>
  </div>
</div>
<br>
<br>
