<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <div class="img-mision">
        <div class="fondo-transparente">

          <div class="center-block text-center infoCarrusel">
            <div class="misionvisionh1">
              <h1>Vision</h1>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-1">
              </div>
              <div class="col-lg-6 col-md-10">
                <span align="justify">Somos una empresa con vocación, líder en soluciones veterinarias integrales y en la prestación de servicios para los animales domésticos, referente para nuestros clientes en innovación, excelencia de servicio,
                  conocimiento, y educación continua, a fin de crear un valor económico y social de forma sostenida, orientadas al bienestar, ya que contamos con experiencia de muchos años en la práctica clínica.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <div class="img-vision">
        <div class="fondo-transparente">
          <div class="center-block text-center infoCarrusel">
            <div class="misionvisionh1">
              <h1>Mision</h1>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-1">
              </div>
              <div class="col-lg-6 col-md-10">
                <span>Nuestra misión como empresa líder en atención es ofrecer a nuestros clientes de los mejores productos y de las soluciones de más valor. Nos respaldamos en nuestra cultura de la innovación y capacitación continua y de nuestra
                  responsabilidad social, buscando la mayor satisfacción posible, ofreciendo una atención médica de calidad, en un ambiente de respeto hacia nuestros pacientes y clientes; promover el bienestar de la mascota como un miembro más de la
                  familia</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>